.arrow {
  transform: rotate(0deg);
  transition: transform 0.3s!important;

}

.active {
  transition: transform 0.3s!important;
  transform: rotate(180deg);
}

.MuiList-root-MuiMenu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
