.wrapper {
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 16px;

  border-radius: 4px;
  min-height: 300px;
  border: 1px solid #ccc;
}
.wrapper_editor {
  height: auto;

  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
}

.text_editor_toolbar {
  display: flex;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 16px 8px 8px 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.text_editor_text {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  height: auto;
  background-color: #f1f1f1;
  max-height: 250px;
  border-radius: 4px;
  padding: 16px;
  min-height: 250px;
  border: 1px solid transparent;
}

.focus {
  border: 1px solid #07330f;
  transition: all 0.4s ease-out;
}

.bold {
  border-radius: 4px;
}

.inline {
}
