@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #E3EDF9;
  overflow-x: hidden;
  padding-right: 0 !important;
  font-family: Inter, -apple-system, sans-serif;
}
.public-DraftStyleDefault-block {
  margin: 4px!important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}