.main_content {
  margin-top: 64px;
  margin-left: -240px;
  transition: all ease-out;
  transition-duration: .2s;
  padding: 24px;
  width: 100%;
}

.main_open {
  width: calc(100% - 240px);
  margin-left: 0px;
  transition: all ease-out;
  transition-duration: .2s;

}