.content {
  display: flex;
  position: absolute;
}

.order .title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
}

.content {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  background-color: #fff;
  width: 100% !important;
  height: auto;
  border-radius: 4px;
  margin-top: -118px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  min-height: 300px;
}

.wrapper {
  width: 100%;
}
