.content {
  height: 380px;
  width: 100%;
  display: flex;

}

.wrapper {
  height: 380px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;


}

.title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.copyright_content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright_text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.List_hover {
  :hover {
    color: #c9c9c9;
    transition: color .3s ease-out;
  }
}
