.content {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  min-width: 160px;
  align-items: center;
  justify-content: flex-start;
  padding: 8px!important;
  position: relative;
  z-index: 100;
  cursor: pointer;


}
.content_text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #0E2645;
}

.hover {
  border: none;
  &:hover {
    box-shadow: #0070f3 0 0 0 1px;

  }
}